* {
	
	font-family: "JetBrainsMonoNl NF";
	border: none;
	border-radius: 0px;
}

tooltip {
	font-family: "JetBrainsMonoNl NF";
	border-radius: 15px;
	background: transparent;
}

window#waybar{

	background: transparent;
	transition-property: background-color;
	transition-duration: .5s;
}




#window {
	color: #a9b1d6;
	background: transparent;
	margin: 2px 3px 3px 3px;
	padding: 0px 10px;
	border-radius: 15px;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
	font-size: 16px;

}

window#waybar.empty #window {
	background-color:transparent;
}

#clock,
#network,
#pulseaudio,
#battery {
	color: #a9b1d6;
	background: transparent;
	margin: 2px 3px 3px 3px;
	padding: 0px 10px;
	border-radius: 15px;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
	font-size: 20px;	
}
#clock{
	font-size: 20px;
}



#group-pwr {
	font-size: 24px;
	margin: 2px 10px 3px 10px;
	padding: 0px 10px;
	background: transparent;
	border-radius: 15px;
	font-weight: bold;
	font-style: normal;
	opacity: 0.8;
}
#custom-power,
#custom-lock,
#custom-reboot {
	margin: 0px 7px;
}
#group-soft {
	background: transparent;
	margin: 2px 3px 3px 3px;
	padding: 0px 10px;
	border-radius: 15px;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
	font-size: 24px;
}
#custom-hyprhelp,
#custom-firefox,
#custom-filebrowser {
	margin: 0px 10px;
	padding: 0px 5px;
}

#custom-rofisearch {
	background: transparent;
	border-radius: 15px;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
	font-size: 24px;
	margin: 2px 7px 3px 7px;
	padding: 0px 10px;
}
